* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container1 {
    width: 100%;
}

@media all and (max-width: 360px) {

    .form__title {
        font-size: 1.5rem;
        margin: 20px 0 10px 0;
        text-align: center;
    }

    .form__text {
        font-size: 1rem;
        padding: 5px 5px 0 20px;
    }

    .form__inputs {
        padding: 10px 5px 0 20px;
    }

    .form__input {
        height: 30px;
        font-size: 20px;
        padding-top: 10px;
    }

    .form__input::-webkit-input-placeholder {
        font-size: 20px;
    }

    .form__input__email {
        width: 95%;
        margin: 15px 0 10px 0;
    }

    .form__input__name {
        width: 95%;
    }

    .form__submit {
        margin-top: 18%;
        width: 50%;
    }

    .checbox__text {
        font-size: 12px;
    }

    .thankYouPage__title {
        font-size: 30px;
    }

    .thankYouPage__text {
        font-size: 20px;
    }
}

@media all and (min-width: 361px) and (max-width: 460px) {

    .form__title {
        font-size: 2rem;
        margin: 20px 0 10px 0;
    }

     .form__text {
        font-size: 1.3rem;
        padding: 5px 5px 0 20px;
    }

    .form__inputs {
        padding: 10px 5px 0 20px;
    }

    .form__input {
        height: 30px;
        font-size: 20px;
        padding-top: 10px;
    }

    .form__input::-webkit-input-placeholder {
        font-size: 20px;
    }

    .form__input__email {
        width: 95%;
        margin-bottom: 10px;
    } 

    .form__input__name {
        width: 95%;
    }

    .form__submit {
        margin-top: 10%;
        width: 50%;
    }

    .checbox__text {
        font-size: 12px;
    }

    .thankYouPage__title {
        font-size: 35px;
    }

    .thankYouPage__text {
        font-size: 25px;
    }
}

@media all and (min-width: 461px) and (max-width: 520px) {

    .form__title {
        font-size: 2.5rem;
        margin: 20px 0 10px 0;
    }

     .form__text {
        font-size: 1.5rem;
        padding: 5px 5px 0 20px;
    }

    .form__inputs {
        padding: 10px 5px 0 20px;
    }

    .form__input {
        height: 30px;
        font-size: 20px;
        padding-top: 10px;
    }

    .form__input::-webkit-input-placeholder {
        font-size: 20px;
    }

    .form__input__email {
        width: 95%;
        margin-bottom: 10px;
    } 

    .form__input__name {
        width: 95%;
    }

    .form__submit {
        margin-top: 10%;
        width: 40%;
    }

    .checbox__text {
        font-size: 14px;
    }

    .thankYouPage__title {
        font-size: 50px;
    }

    .thankYouPage__text {
        font-size: 30px;
    }
}

@media all and (min-width: 520px) {

    .form__title {
        font-size: 3.4rem; 
        padding: 16px 0 0 50px;
    }

    .form__text {
        font-size: 1.5rem;
        padding: 5px 5px 0 20px;
        font-size: 30px;
        padding: 5px 5px 0 20px;
    }

    .form__inputs {
        padding: 10px 5px 0 20px;
    }

    .form__input {
        height: 50px;
        font-size: 22px;
        padding-top: 15px;
    }

    .form__input::-webkit-input-placeholder {
        font-size: 30px;
    }

    .form__input__email {
        width: 56%; 
        margin-right: 45px;
    } 

    .form__input__name {
        width: 31%;
    }

    .form__submit {
        margin-top: 10%;
        width: 38%;
    }

    .checbox__text {
        font-size: 14px;
    }

    .thankYouPage__title {
        font-size: 50px;
    }

    .thankYouPage__text {
        font-size: 35px;
    }
}

.main__form {
    height: 600px;
    max-width: 600px;
    min-width: 280px;
    width: 100%;
    background-color: #80b0b4;
    margin: auto;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #3a3a3a;
}

.form__text {
    text-align: center;
}

.form__text span {
    color: #185b61;
}

.form__input {
    border: none;
    border-bottom: 4px solid #185b61;
    background-color:  #80b0b4;
    margin-bottom: 15px;
    color: #185b61;
}

.form__input::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #185b61;
}

.checkbox {
    height: 40px;
    width: 40px;
    z-index: 3;
}

.container {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
position: absolute;
opacity: 0;
cursor: pointer;
top: 0;
left: 0;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 40px;
width: 40px;
background-color:#80b0b4;
border: 2px solid #185b61;
}

.checkbox:checked ~ .checkmark {
background-color:  #80b0b4;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.checkbox:checked ~ .checkmark:after {
display: block;
}

.container .checkmark:after {
left: 7px;
top: -2px;
width: 19px;
height: 31px;
border: solid #185b61;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.checbox__text {
    margin: 0 20px 0 55px;
    text-transform: none;
}

.form__submit {
    height: 75px;
    font-size: 45px;
    background-color:   #185b61;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.thankYouPage {
    height: 600px;
    max-width: 600px;
    min-width: 280px;
    background-color: #80b0b4;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #3a3a3a;
}

.thankYouPage__title {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thankYouPage__title span {
    border-bottom: 2px solid #3a3a3a; 
}

.thankYouPage__text {
    margin-bottom: 165px;
    text-align: center;
}